<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css')}}">
<title>
Dell Support System
</title>
</head>

<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">
<div class="mainthingy">
<h1>
<p>Thank you for shopping with us!</p>
</h1>
<h2>About Us</h2>
<p>Working to make your lives better.
Introducing the new feature to make support for products better.
</p>
</div>
</body>
</html>
