<!DOCTYPE html>
<html>
<head>
<title>
Dell Support System
</title>
</head>
<body>
<h1>
Welcome to Dell
</h1>
<p>
Here is the pick of the Day</p>
<img src ="../static/img1.jpeg" alt =Dell Product1>
<img src ="../static/img2.jpeg" alt =Dell Product2>
<img src ="../static/img3.jpeg" alt =Dell Product3><br>
<input type="submit" name="dp1" value ="See Details">
<input type="submit" name="dp2" value ="See Details">
<input type="submit" name="dp3" value ="See Details">
<h2>About Us</h2>
<p>We work very hard to make your lives better.
Introducing the new feature to make support for products better.
</p>
</body>
</html>

