<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css')}}">
<title>
Dell Support System
</title>
</head>

<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">
<div class="mainthingy">
<h1>
<p>Welcome to Dell</p>
</h1>
<p>
Please make your pick</p>
<div class="row">
  <div class="column">
    <a href="product1.html"><img src="static/dell1.PNG" alt="P1" ></a>
  </div>
  <div class="column">
    <A href="product2.html"><img src="/static/dell2.PNG" alt="P2" ></a>
  </div>
  <div class="column">
    <a href="product3.html"><img src="/static/dell3.PNG" alt="P3"></a>
  </div>
</div>

<h2>About Us</h2>
<p>Working to make your lives better.
Introducing the new feature to make support for products better.
</p>
</div>
</body>
</html>
