<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css')}}">
<title>
Dell Support System
</title>
</head>

<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">
<div class="mainthingy">
<h1>
<p>Welcome to Dell</p>
</h1>
<div class="row">
  <div class="column1">
    <img src="static/dell3.PNG" style="max-width:100%; height:auto;"alt="P1">
  </div>
  <div class="column1">
    <h2>Features</h2>
    <ul>
    <li>9th Generation Intel® Core™ i9-9980HK, 16 MB Cache, 8 Core, up to 5 GHz</li>
    <li>Windows 10 Home Plus Single Language, English</li>
    <li>NVIDIA® GeForce® GTX 1650 4GB GDDR5</li>
    <li>32 GB, 2 x 16 GB, DDR4, 2666 MHz</li>
    <li>1 TB M.2 PCIe NVMe Solid-State Drive</li>
    </ul>
<a href="/SignIn"><button>Buy Now</button></a>
  </div>

</div><p>
<h3>Reviews</h3>
<table>
    <colgroup>
<col style="width: 10%" />
<col style="width: 20%" />
<col style="width: 20%" />

<col style="width: 20%" />
<col style="width: 10%" />
<col style="width: 20%" />
</colgroup>
  <tr>
  <th>Positive review(s)</th>
  <th>Negative review(s)</th>
  </tr>
  {% for r in rows %}
        <tr>

            <td>{{r["positive"]}}</td>
            <td>{{r["negative"]}}</td>

        </tr>
{%endfor%}
</table>



</p>
</body>
</html>
