<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css')}}">
<title>
Dell Support System
</title>
</head>

<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">

<h1>
<p>Welcome to Dell</p>
</h1>
<p>
Please make your pick</p>
<div><img src="static/dell2.PNG" alt="P1">
</div>
<h2>Features</h2>
<ul>
  <li>9th Generation Intel® Core™ i7-9750H (12MB Cache, up to 4.5 GHz, 6 cores)</li>
  <li>Windows 10 Home Plus Single Language, English</li>
  <li>NVIDIA® GeForce RTX™ 2070 8GB GDDR6 with Max-Q Design</li>
  <li>16GB, 2x8GB, DDR4, 2666MHz</li>
  <li>512GB Solid State Drive (Boot) + 1TB 5400RPM Hard Drive (Storage)</li>
</ul>
<h3>Reviews</h3>
<!-- <table>
    <colgroup>
<col style="width: 10%" />
<col style="width: 20%" />
<col style="width: 20%" />

<col style="width: 20%" />
<col style="width: 10%" />
<col style="width: 20%" />
</colgroup>
{% for r in rows %}
        <tr>
          // hello!!!!!!!!!!!! IMPORTANT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          // OVER HERE!!!!!!!!!!!!!!!!!!!!!!!!!!!
          // so, in the below "" thingies we need to fill in stuff like the attributes
          // like {{r["Username"]}} so that it would display user name and then we would have something like {{r["Review"]}}
          // so we shall be having a table with usernames first and then their reviews and a bunch of other attributes as well
          // for the data to come here though, go to app.py and over there in the product1 function, in rows, there should be the reviews and such
          // data which we shall be passing in

            <td>{{r[""]}}</td>
            <td>{{r[""]}}</td>
            <td>{{r[""]}}</td>
        </tr>
{%endfor%}
</table> -->
<a href="/SignIn"><button>Buy Now</button></a>

</body>
</html>
