<html>
    <head>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href ="../static/styles.css">
        <link rel="stylesheet" href ="/static/styles.css">
    <title>Register</title>
    </head>
    <body>
      <div class="nav">
        <img src = "../static/dell.PNG">
  </div>
    <form method="post" >
      <div class="form-group">
          <input autofocus class="form-control" name="email" placeholder="E-mail ID" type="text"/>
      </div>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password" type="password"/>
        </div>
        <div class="form-group">
            <input name="confirming" class="form-control" placeholder="Confirm Password" type="password"/>
        </div>

        <button id="submit" type="submit">Register</button>
    </form>
    </body>
</html>
