<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="../static/styles.css">

          <link rel="stylesheet" href ="/static/styles.css">
<title>
SignIn|Dell Support Systems
</title>
</head>
<body>
<form method ="post">
Enter your Credentials below :
Username:
<input type="text" name="username"><br>
Password:
<input type="text" name="pass"><br>
<a href="/Idea"><button id="login"><center>Sign In</center></button></a>
</form>
<button id="register" name="Register"><a href="/Register">Not a Member|Register</a></button>
</body>
</html>
