<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="../static/styles.css">

          <link rel="stylesheet" href ="/static/styles.css">
<title>
SignIn|Dell Support Systems
</title>
</head>
<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">
<form method="post" >
  <div class="form-group">
      <input autofocus class="form-control" name="email" placeholder="E-mail ID" type="text"/>
  </div>
    <div class="form-group">
        <input name="pass" class="form-control" placeholder="Password" type="password"/>
    </div>
    <a href="/Idea"><button id="submit" type="submit">Sign in</button></a>
</form></body>
</html>
