<!DOCTYPE html>
<html>
<head>

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css')}}">
<title>
Dell Support System
</title>
</head>

<body>
    <img src="static/dell.PNG" alt="P1" style="width:100%">
<div class="mainthingy">
<h1>
<p>Welcome to Dell<br>Here is the best suited warranty for you:<br></p>
</h1>

<a href="/Complete"><h2>1Y In-Home Hardware Service - included in price</h2></a>
<ul>
  <li>Technical support through phone and online</li>
  <li>On-call software support</li>
  <li>Service center and technician visit support for hardware issues</li>
</ul>
<h3>Other Warranties</h3>
<ul>
  <a href="/Complete"><li>2Y Premium Support and Onsite Service-2830</li></a>
  <a href="/Complete"><li>4Y Premium Support and Onsite Service-8240</li></a>
  <a href="/Complete"><li>2Y Premium Support Plus and Onsite Service-6030</li></a>
  <a href="/Complete"><li>4Y Premium Support Plus and Onsite Service-14540</li></a>


</ul>

    <img src="static/somethingy.PNG" alt="P1" style="width:100%">
</div>
</body>
</html>
